################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MerakiEMS/MerakiEMS.Admin/my-app/node_modules
