.addBtn{
    background-color: #0B2B50 !important;
    width: 100%;
    margin-top: 30px;
    font-weight: 600;
}
.secondary-btn{
    margin-bottom:  0px;
    font-size: 1vw;
    margin-left: 91%;
    margin-top: -5% !important;
    background-color:#0B2B50 !important;
    color: white;
    width: 12%;
}