.FooterOptions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.FooterBtn {
  border-radius: 4px;
  padding: 2px;
}
.menu-list {
  position: absolute;
  margin: 3% 20% 0% 25%;
}

.globar-filter {
  text-align: right;
  margin: -10px 0px 10px 0px;
}
.filter-input {
  border-radius: 6px;
  padding: 4px;
}
.containerr {
  margin-top: -60px;
}
.attendanceList {
  position: absolute;
  margin: 9.5% 20%;
  width: 75%;
  /* margin: 110px 0px 0px 17.5%; */
}
