.btn-1 {
  color: #fff !important;
  background-color:#0B2B50 !important;
  width: 47%;
  margin: 20px 0px 50px;
  }
  
  /* Button style when clicked */
  .btn-clicked {
    background-color: #7e8fa3!important; /* Default color */
    color: #fff !important; /* Text color */
   
  }
  .btn-1:hover{
    color: #fff !important;
    background-color:#1f4776 !important;
    width: 47%;
    margin-bottom: 50px;
    }

  