.employeeList {
  position: absolute;
  margin: 8% 20%;
  width: 75%;
  /* margin: 110px 0px 0px 17.5%; */
}

.viewDetails {
  /* border: none; */
  background-color: #0b2b50 !important;
  
}
/* .viewDetails:hover {
  padding: 4px 6px !important;
} */
.addBtn1 {
  /* background-color: #0b2b50 !important; */
  width: 100%;
  margin-top: 100px;
  font-weight: 600;
  border-color: #0b2b50 !important;
  color: #0b2b50 !important;
}
.addBtn1:hover {
  background-color: #0b2b50 !important;
  color: White !important;
}
.addBtn2 {
  /* background-color: #d43d3d !important; */
  width: 100%;
  margin-top: 100px;
  font-weight: 600;
}
.userImage2 {
  display: inline;
  max-height: 500px;
  max-width: 500px;
  width: auto;
  height: auto;
  position: absolute;
}
.profileImage2 {
  display: inline;
  max-height: 300px;
  max-width: 300px;
  height: 300px;
  width: 250px;
  border-radius: 12px;
}
