.modal-overlay{
        background: white;
}
.btn-custom{
background: #0b2b50;
    color: white;
        border-radius: 8px;
}
.text{
    font-size: large;
        font-weight: 600;
        text-align: left;

}
.container{
    display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
}