.secondary-btn-respond {
  background-color: #0b2b50 !important;
  color: white;
}

.show-calendar-btn {
  background-color: #0b2b50 !important;
}


.pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle; 
}

.page-link {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #0b2b50;
}
.page-link:hover {
  color: #0b2b50;
}
.page-link.active {
  background-color: #0b2b50;
  color: #fff;
  border: 1px solid #0b2b50;
}

.page-info,
.go-to-page {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle; 
}

.go-to-page input {
  width: 50px;
  padding: 5px;
  height: 32px;
  margin-right: 2px;
  vertical-align: middle; 
  border-radius: 6px;
}

.go-to-page-button {
  background-color: #0b2b50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  vertical-align: middle; 
  border-radius: 7px;
}

.go-to-page-button:hover {
  background-color: #0b2b50;
}

.search-filter {
  width: 30%;
}
.leave-request-name {
  position: absolute;
   top:   2% !important;
}
.showLeavesAdmin {
  position: absolute;
  margin: 8% 20%;
  width: 75%;

}
.btn-color {
  background-color: #0b2b50;
}
.radio-button{
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  margin-top: 80px;
  
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  margin-top: -3% !important;
  
}
.grid{
  margin-top: 2% !important;
}
.name-column{
  font-weight: 700;
 width: 40%;
}
.btn{
  height: 35.5px !important;
  
}

.btn-search:hover {
 
  background-color:#6c757d!important ;
  
  color: #fff!important;
  
}