.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #0B2B50;
    text-align: center;
    
  }
.side-logo{
    background-color: #fff;
    width: 70%;
    margin-top: 265px;
    /* margin-left: 15%; */
    height: 35%;
    padding: 0px 20px;
    border-radius: 10px;
    
}