.containerTicket {
  position: absolute;
  margin: 8% 20%;
  width: 75%;
  /* margin: 110px 0px 0px 17.5%; */
}
.headingTicket {
  margin-bottom: 30px;
}
.ticketBtn {
  margin-bottom: 0px;
  font-size: 1vw;
  margin-left: 91%;

  background-color: #0b2b50 !important;
  color: white;
  width: 12%;
}
.statusDiv {
  height: 33px;
  width: 90px;
  padding: 3px 8px;
  border-radius: 6px;
}
.approved {
  background-color: #51b051;
  color: white;
}
.declined {
  background-color: rgb(209, 79, 79);
  color: white;
}
.pending {
  background-color: lightgray;
  color: black;
}
.medium {
  color: orange;
}
.critical {
  color: rgb(255, 60, 0);
}
.high {
  color: rgb(226, 99, 61);
}
.low {
  color: rgb(140, 216, 58);
}
