.headingList {
  margin-bottom: 3%;
}
.red {
  color: red;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
.redBackground {
  color: red !important;
}
.admin-attendance {
  position: absolute;
  margin: 0% 30% 8% 0 !important;
  width: 100%;
}
.btn-search{
  background-color: #0b2b50 !important;
}
/* .radio-button-btn{

  margin-top: -14% !important;
  left: 5%;
  
}
.search-form{
  margin-top: 10%;
}  */

.container{
  position: absolute;
  top: 23%;
  left: -5px;
}
.search-form{
  margin-left: -0%;
}