.userProfile {
  position: absolute;
  margin: 8% 20%;
  width: 75%;
  /* margin: 110px 0px 0px 17.5%; */
}
.userProfile2 {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 900px;
  /* margin: 0 auto; */
}

.userDetails {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}
.userImage {
  max-height: 500px;
  max-width: 500px;
  width: auto;
  height: auto;
}
.profileImage {
  max-height: 300px;
  max-width: 300px;
  height: 300px;
  width: 250px;
  border-radius: 12px;
}
